/* line 6, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 17, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
*:focus {
  outline: 0; }

/* line 20, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body {
  line-height: 1em;
  color: black;
  background: #fff; }

/* line 23, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 30, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 33, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q, blockquote {
  quotes: "" ""; }
  /* line 101, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

/* line 36, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
img a {
  border: none; }

/* line 1, ../../../app/stylesheets/elements/pagination.sass */
.pagination-wrap {
  color: #444;
  text-align: right; }
  /* line 4, ../../../app/stylesheets/elements/pagination.sass */
  .pagination-wrap .pagination {
    display: inline;
    margin-left: 1.5em;
    font-weight: bold; }
    /* line 8, ../../../app/stylesheets/elements/pagination.sass */
    .pagination-wrap .pagination a, .pagination-wrap .pagination span {
      padding: 0 2px;
      margin-right: 1px; }
    /* line 11, ../../../app/stylesheets/elements/pagination.sass */
    .pagination-wrap .pagination a {
      border-bottom: 2px solid #b8d3e2;
      text-decoration: none; }
      /* line 14, ../../../app/stylesheets/elements/pagination.sass */
      .pagination-wrap .pagination a:hover {
        border-color: #888; }

/* line 2, ../../../app/stylesheets/admin/lib/elements.sass */
.tablenav input[type="submit"], .tablenav input[type="button"], .tablenav .submit input, .tablenav .button {
  border-color: #cfe1ef; }
  /* line 4, ../../../app/stylesheets/admin/lib/elements.sass */
  .tablenav input[type="submit"]:hover, .tablenav input[type="button"]:hover, .tablenav .submit input:hover, .tablenav .button:hover {
    color: #000;
    border-color: #328ab2; }

/* line 8, ../../../app/stylesheets/admin/lib/elements.sass */
.actions.with_buttons input {
  float: left; }

/* line 11, ../../../app/stylesheets/admin/lib/elements.sass */
.pagination-wrap {
  padding: 1em 2em; }

/* line 14, ../../../app/stylesheets/admin/lib/elements.sass */
.gallery {
  background: #fff; }
  /* line 16, ../../../app/stylesheets/admin/lib/elements.sass */
  .gallery table {
    width: 100%;
    border: none !important; }
    /* line 19, ../../../app/stylesheets/admin/lib/elements.sass */
    .gallery table td {
      text-align: center;
      padding: 5px 0; }

/* line 24, ../../../app/stylesheets/admin/lib/elements.sass */
#content .errorExplanation {
  border: 1px solid #ddd;
  margin-bottom: 1em;
  background: #fff; }
  /* line 28, ../../../app/stylesheets/admin/lib/elements.sass */
  #content .errorExplanation h2 {
    background: #900;
    color: #fff;
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 5px; }
  /* line 35, ../../../app/stylesheets/admin/lib/elements.sass */
  #content .errorExplanation p {
    margin: 0 13px 4px; }
  /* line 37, ../../../app/stylesheets/admin/lib/elements.sass */
  #content .errorExplanation ul {
    margin: 0 33px 8px; }

/* line 40, ../../../app/stylesheets/admin/lib/elements.sass */
.article_body {
  background: #fff;
  border: 3px solid #ccc;
  padding: 0 1.5em;
  font-size: 13px; }
  /* line 45, ../../../app/stylesheets/admin/lib/elements.sass */
  .article_body h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-style: normal !important;
    font-size: 17px !important;
    font-weight: bold; }
  /* line 50, ../../../app/stylesheets/admin/lib/elements.sass */
  .article_body .diff-html-added {
    background-color: #ccffcc;
    border-left: 4px solid darkgreen; }
  /* line 53, ../../../app/stylesheets/admin/lib/elements.sass */
  .article_body .diff-html-removed {
    background-color: #fdc6c6;
    border-left: 4px solid darkred; }

/* line 57, ../../../app/stylesheets/admin/lib/elements.sass */
.toolbar {
  background: url(/images/admin/toolbar_bg.gif);
  border: 1px solid #ddd;
  height: 24px;
  padding: 4px 4px;
  list-style-type: none; }
  /* line 63, ../../../app/stylesheets/admin/lib/elements.sass */
  .toolbar li a {
    background: #f3f3f3 url(/images/admin/button-bg.gif);
    border: 1px solid #ccc;
    height: 24px;
    line-height: 24px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 0 .75em;
    font-size: 11px !important;
    font-weight: bold;
    float: left;
    margin-right: 4px;
    text-decoration: none;
    text-shadow: 0px 1px 1px #fff; }
    /* line 77, ../../../app/stylesheets/admin/lib/elements.sass */
    .toolbar li a:hover {
      background: #e6e4e5;
      border-color: #aaa; }

/* line 1, ../../../app/stylesheets/admin/lib/form.sass */
form .field label {
  font-size: 13px;
  display: block; }

/* line 5, ../../../app/stylesheets/admin/lib/form.sass */
hr {
  border: 0;
  width: 80%;
  margin-top: 10px;
  color: #ccc;
  background-color: #ccc;
  height: 1px; }

/* line 13, ../../../app/stylesheets/admin/lib/form.sass */
input {
  border: 1px solid #dfdfdf;
  padding: 3px;
  font-size: 13px; }

/* line 19, ../../../app/stylesheets/admin/lib/form.sass */
.box .highlighted input {
  color: #fff;
  font-weight: bold;
  background: #2680aa;
  border: 1px solid #298cba; }
  /* line 24, ../../../app/stylesheets/admin/lib/form.sass */
  .box .highlighted input:hover {
    border-color: #000; }
/* line 26, ../../../app/stylesheets/admin/lib/form.sass */
.box .field {
  clear: both; }
  /* line 28, ../../../app/stylesheets/admin/lib/form.sass */
  .box .field input {
    width: 300px;
    padding: 3px;
    margin: 1px; }
  /* line 32, ../../../app/stylesheets/admin/lib/form.sass */
  .box .field.submit input {
    width: auto; }
  /* line 34, ../../../app/stylesheets/admin/lib/form.sass */
  .box .field label {
    float: left;
    font-weight: bold;
    line-height: 25px;
    margin-right: 1em;
    margin-left: 1em;
    width: 100px; }
  /* line 41, ../../../app/stylesheets/admin/lib/form.sass */
  .box .field textarea {
    width: 500px;
    height: 100px;
    border: 1px solid #ddd; }
/* line 45, ../../../app/stylesheets/admin/lib/form.sass */
.box .check_box {
  margin: 0; }
  /* line 47, ../../../app/stylesheets/admin/lib/form.sass */
  .box .check_box label {
    margin-left: 0.5em;
    line-height: 22px !important;
    font-weight: normal;
    font-size: 11px;
    width: 80%; }
  /* line 53, ../../../app/stylesheets/admin/lib/form.sass */
  .box .check_box input {
    height: 19px;
    width: auto;
    float: left; }

/* line 58, ../../../app/stylesheets/admin/lib/form.sass */
input[type="submit"], input[type="button"], .submit input, .button {
  text-decoration: none;
  font-size: 11px !important;
  line-height: 16px;
  padding: 2px 8px !important;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -moz-border-radius: 11px;
  -khtml-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -khtml-box-sizing: content-box;
  box-sizing: content-box;
  background: #f2f2f2 url("/images/admin/white-grad.png") repeat-x scroll left top;
  border-color: #DCDCDC;
  color: #464646; }
  /* line 77, ../../../app/stylesheets/admin/lib/form.sass */
  input[type="submit"]:hover, input[type="button"]:hover, .submit input:hover, .button:hover {
    color: #d54e21;
    border-color: #535353; }

/* line 6, ../../../app/stylesheets/admin/lib/global.sass */
body {
  background: #f9f9f9;
  font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  margin: 0; }

/* line 11, ../../../app/stylesheets/admin/lib/global.sass */
a {
  color: #21759b; }
  /* line 13, ../../../app/stylesheets/admin/lib/global.sass */
  a:hover {
    color: #D54E21; }

/* line 16, ../../../app/stylesheets/admin/lib/global.sass */
.root a, table a {
  text-decoration: none; }

/* line 18, ../../../app/stylesheets/admin/lib/global.sass */
em {
  font-style: italic; }

/* line 21, ../../../app/stylesheets/admin/lib/global.sass */
p, dl {
  margin: 1em 0; }

/* line 24, ../../../app/stylesheets/admin/lib/global.sass */
dl {
  font-size: 13px; }
  /* line 26, ../../../app/stylesheets/admin/lib/global.sass */
  dl dt {
    margin-bottom: 0.5em;
    font-weight: bold;
    color: #333; }
  /* line 30, ../../../app/stylesheets/admin/lib/global.sass */
  dl dd {
    margin-left: 1em; }

/* line 33, ../../../app/stylesheets/admin/lib/global.sass */
strong {
  font-weight: bold; }

/* line 36, ../../../app/stylesheets/admin/lib/global.sass */
em {
  font-style: italic; }

/* line 39, ../../../app/stylesheets/admin/lib/global.sass */
.clearfix {
  overflow: hidden;
  display: inline-block; }
  /* line 5, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  .clearfix {
    display: block; }

/* line 42, ../../../app/stylesheets/admin/lib/global.sass */
#header {
  background: #464646;
  height: 46px;
  padding: 0px 1.1em;
  color: #999; }
  /* line 47, ../../../app/stylesheets/admin/lib/global.sass */
  #header h1 {
    background: url("/images/admin/logo.gif");
    height: 46px;
    width: 116px;
    text-indent: -100em;
    overflow: hidden;
    float: left;
    margin: 0; }
  /* line 55, ../../../app/stylesheets/admin/lib/global.sass */
  #header .user-info {
    font-size: 12px;
    line-height: 46px;
    float: right; }
    /* line 59, ../../../app/stylesheets/admin/lib/global.sass */
    #header .user-info a {
      color: #ccc; }
      /* line 61, ../../../app/stylesheets/admin/lib/global.sass */
      #header .user-info a:hover {
        color: #D54E21; }

/* line 63, ../../../app/stylesheets/admin/lib/global.sass */
#body {
  padding: 15px 18px 0px; }

/* line 67, ../../../app/stylesheets/admin/lib/global.sass */
#stickies div {
  border-left: 3px solid #ded640;
  background: #f8f4a0;
  padding: 0px 10px;
  height: 26px;
  line-height: 26px;
  margin-bottom: 12px; }

/* line 75, ../../../app/stylesheets/admin/lib/global.sass */
#content {
  margin-left: 167px;
  font-size: 11px;
  position: relative; }
  /* line 79, ../../../app/stylesheets/admin/lib/global.sass */
  #content .wrap {
    position: relative; }
  /* line 81, ../../../app/stylesheets/admin/lib/global.sass */
  #content h2 {
    color: #464646;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 14px; }
  /* line 88, ../../../app/stylesheets/admin/lib/global.sass */
  #content .side_column {
    width: 260px;
    float: right; }
  /* line 91, ../../../app/stylesheets/admin/lib/global.sass */
  #content .wide_column {
    margin-right: 283px; }

/* line 94, ../../../app/stylesheets/admin/lib/global.sass */
.box {
  margin-bottom: 1em; }
  /* line 96, ../../../app/stylesheets/admin/lib/global.sass */
  .box h3 {
    border: 1px solid #dfdfdf;
    border-bottom: none;
    color: #464646;
    background: url("/images/admin/postbox-bg.gif");
    font-size: 12px;
    padding: 7px 9px;
    text-shadow: #fff 0px 1px 0px;
    font-weight: bold;
    font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    margin: 0; }
  /* line 109, ../../../app/stylesheets/admin/lib/global.sass */
  .box .inside {
    border: 1px solid #dfdfdf;
    border-top: none;
    background: #fff;
    font-size: 11px;
    padding: 5px 9px;
    color: #444;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px; }
    /* line 118, ../../../app/stylesheets/admin/lib/global.sass */
    .box .inside.sectioned {
      padding: 0px; }
      /* line 120, ../../../app/stylesheets/admin/lib/global.sass */
      .box .inside.sectioned .section {
        padding: 5px 9px; }
        /* line 122, ../../../app/stylesheets/admin/lib/global.sass */
        .box .inside.sectioned .section.highlighted {
          border-top: 1px solid #ddd;
          background: #eaf2fa; }
    /* line 126, ../../../app/stylesheets/admin/lib/global.sass */
    .box .inside .highlighted.section {
      background: #eaf2fa; }

/* line 129, ../../../app/stylesheets/admin/lib/global.sass */
.halves {
  overflow: hidden;
  display: inline-block; }
  /* line 5, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  .halves {
    display: block; }
  /* line 131, ../../../app/stylesheets/admin/lib/global.sass */
  .halves .left, .halves .right {
    width: 49%; }
  /* line 133, ../../../app/stylesheets/admin/lib/global.sass */
  .halves .left {
    float: left;
    clear: left; }
  /* line 136, ../../../app/stylesheets/admin/lib/global.sass */
  .halves .right {
    float: right; }

/* line 139, ../../../app/stylesheets/admin/lib/global.sass */
.tablenav {
  padding: 8px; }

/* line 143, ../../../app/stylesheets/admin/lib/global.sass */
table th {
  font-weight: bold; }
/* line 145, ../../../app/stylesheets/admin/lib/global.sass */
table td, table th {
  padding: 2px 4px; }
/* line 147, ../../../app/stylesheets/admin/lib/global.sass */
table.widefat {
  width: 100%;
  font-size: 11px;
  border: 1px solid #dfdfdf;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px; }
  /* line 155, ../../../app/stylesheets/admin/lib/global.sass */
  table.widefat thead, table.widefat tfoot {
    background: url("/images/admin/gray-grad.png"); }
    /* line 157, ../../../app/stylesheets/admin/lib/global.sass */
    table.widefat thead tr, table.widefat tfoot tr {
      height: 30px; }
      /* line 159, ../../../app/stylesheets/admin/lib/global.sass */
      table.widefat thead tr th, table.widefat tfoot tr th {
        color: #333;
        padding: 7px 15px 7px 10px; }
  /* line 162, ../../../app/stylesheets/admin/lib/global.sass */
  table.widefat thead th {
    border-bottom: 1px solid #dfdfdf; }
  /* line 165, ../../../app/stylesheets/admin/lib/global.sass */
  table.widefat tbody td {
    padding: 7px 15px 9px 10px;
    border-bottom: 1px solid #dfdfdf; }
    /* line 168, ../../../app/stylesheets/admin/lib/global.sass */
    table.widefat tbody td.row-title {
      font-weight: bold; }
  /* line 170, ../../../app/stylesheets/admin/lib/global.sass */
  table.widefat tbody .even td {
    background: #fff; }

/* line 174, ../../../app/stylesheets/admin/lib/global.sass */
.inside table {
  border: 1px solid #ccc;
  border-right: none; }
  /* line 177, ../../../app/stylesheets/admin/lib/global.sass */
  .inside table th, .inside table td {
    border-right: 1px solid #ccc; }
  /* line 179, ../../../app/stylesheets/admin/lib/global.sass */
  .inside table th {
    background: url(/images/admin/toolbar_bg.gif);
    border-bottom: 1px solid #ccc;
    text-shadow: #fff 0px 1px 0px; }

/* line 185, ../../../app/stylesheets/admin/lib/global.sass */
.tablenav {
  vertical-align: middle;
  font-size: 11px; }

/* line 189, ../../../app/stylesheets/admin/lib/global.sass */
.tablenav-pages {
  text-align: right; }

/* line 192, ../../../app/stylesheets/admin/lib/global.sass */
.subsubsub {
  color: #999;
  list-style-type: none;
  margin: 0; }
  /* line 196, ../../../app/stylesheets/admin/lib/global.sass */
  .subsubsub li {
    display: inline; }
    /* line 198, ../../../app/stylesheets/admin/lib/global.sass */
    .subsubsub li a {
      text-decoration: none; }
      /* line 200, ../../../app/stylesheets/admin/lib/global.sass */
      .subsubsub li a.current {
        color: #000;
        font-weight: bold; }

/* line 204, ../../../app/stylesheets/admin/lib/global.sass */
.search-box {
  position: absolute;
  float: right;
  top: 5px;
  right: 0px; }

/* line 20, ../../../app/stylesheets/admin/lib/navigation.sass */
#navigation-wrapper {
  width: 144px;
  float: left;
  clear: left;
  font-size: 12px; }
  /* line 25, ../../../app/stylesheets/admin/lib/navigation.sass */
  #navigation-wrapper a {
    display: block;
    text-decoration: none; }
    /* line 28, ../../../app/stylesheets/admin/lib/navigation.sass */
    #navigation-wrapper a:hover {
      color: #000; }
  /* line 30, ../../../app/stylesheets/admin/lib/navigation.sass */
  #navigation-wrapper ul {
    font-family: Helvetica, Arial, sans-serif; }
    /* line 32, ../../../app/stylesheets/admin/lib/navigation.sass */
    #navigation-wrapper ul li a {
      background: #fff url("/images/admin/menu-bits.gif") no-repeat scroll 0 -310px;
      border-right: 1px solid #e3e3e3;
      padding: 2px 12px;
      line-height: 18px;
      height: 18px; }
      /* line 38, ../../../app/stylesheets/admin/lib/navigation.sass */
      #navigation-wrapper ul li a:hover {
        background-color: #eaf2fa; }
    /* line 40, ../../../app/stylesheets/admin/lib/navigation.sass */
    #navigation-wrapper ul li.active > a {
      background: transparent url("/images/admin/menu-bits.gif") no-repeat scroll 0 -289px;
      color: #D54E21; }
      /* line 43, ../../../app/stylesheets/admin/lib/navigation.sass */
      #navigation-wrapper ul li.active > a:hover {
        color: #000;
        margin-left: 0px;
        padding-left: 12px; }
  /* line 48, ../../../app/stylesheets/admin/lib/navigation.sass */
  #navigation-wrapper ul.menu {
    list-style-type: none;
    margin: 0;
    width: 144px; }
    /* line 53, ../../../app/stylesheets/admin/lib/navigation.sass */
    #navigation-wrapper ul.menu > li > a {
      background: #f1f1f1 url("/images/admin/menu-bits.gif") repeat-x scroll left -379px;
      border-style: solid solid none;
      border-width: 1px;
      border-color: #e3e3e3;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 13px;
      padding: 0px 12px;
      height: 29px;
      line-height: 29px; }
      /* line 64, ../../../app/stylesheets/admin/lib/navigation.sass */
      #navigation-wrapper ul.menu > li > a:hover {
        color: #D54E21; }
    /* line 66, ../../../app/stylesheets/admin/lib/navigation.sass */
    #navigation-wrapper ul.menu > li.active > a {
      background: rgb(109,109,109);
      border-color: rgb(109,109,109);
      color: #fff; }
    /* line 70, ../../../app/stylesheets/admin/lib/navigation.sass */
    #navigation-wrapper ul.menu > li:last-child {
      border-bottom: 1px solid #e3e3e3; }
    /* line 72, ../../../app/stylesheets/admin/lib/navigation.sass */
    #navigation-wrapper ul.menu > li.first > a {
      -webkit-border-top-left-radius: 8px;
      -webkit-border-top-right-radius: 8px;
      -khtml-border-top-left-radius: 8px;
      -khtml-border-top-right-radius: 8px;
      -moz-border-radius-topleft: 8px;
      -moz-border-radius-topright: 8px; }
    /* line 74, ../../../app/stylesheets/admin/lib/navigation.sass */
    #navigation-wrapper ul.menu > li.last.no-children > a {
      -webkit-border-bottom-left-radius: 8px;
      -webkit-border-bottom-right-radius: 8px;
      -khtml-border-bottom-left-radius: 8px;
      -khtml-border-bottom-right-radius: 8px;
      -moz-border-radius-bottomleft: 8px;
      -moz-border-radius-bottomright: 8px;
      border-bottom-style: solid; }
  /* line 78, ../../../app/stylesheets/admin/lib/navigation.sass */
  #navigation-wrapper li.separator {
    background: #ddd;
    height: 1px;
    margin: 9px 0px; }
    /* line 82, ../../../app/stylesheets/admin/lib/navigation.sass */
    #navigation-wrapper li.separator hr {
      display: none; }

/* line 1, ../../../app/stylesheets/admin/lib/jquery.ui.sass */
.ui-tabs-hide {
  display: none; }

/* line 1, ../../../app/stylesheets/admin/articles.sass */
p.title {
  font-weight: bold;
  font-family: "Helvetica Neue", sans-serif;
  margin-bottom: 0.5em;
  font-size: 16px;
  color: #444; }
  /* line 7, ../../../app/stylesheets/admin/articles.sass */
  p.title .label {
    color: #aaa;
    font-size: 11px; }

/* line 11, ../../../app/stylesheets/admin/articles.sass */
#article_headline {
  font-size: 1.5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 90%;
  padding: 5px 7px;
  outline: none;
  margin-bottom: 6px; }

/* line 20, ../../../app/stylesheets/admin/articles.sass */
.editor {
  background: #fff; }
  /* line 25, ../../../app/stylesheets/admin/articles.sass */
  .editor .inside {
    padding: 0;
    margin: 0; }
  /* line 28, ../../../app/stylesheets/admin/articles.sass */
  .editor .field textarea {
    border: none;
    outline: none;
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-size: 13px;
    padding-right: 1em;
    margin: 0 1em;
    width: 95%;
    height: 300px; }
  /* line 37, ../../../app/stylesheets/admin/articles.sass */
  .editor .footer {
    color: #777;
    height: 24px;
    line-height: 24px;
    background: #eee;
    border-top: 1px solid #dfdfdf;
    padding: 0px 10px 0px 8px; }
    /* line 44, ../../../app/stylesheets/admin/articles.sass */
    .editor .footer p {
      margin: 0; }
    /* line 46, ../../../app/stylesheets/admin/articles.sass */
    .editor .footer .word-count {
      float: left; }
    /* line 48, ../../../app/stylesheets/admin/articles.sass */
    .editor .footer .last-saved {
      float: right; }

/* line 52, ../../../app/stylesheets/admin/articles.sass */
#categories_box ul {
  margin: 0;
  list-style-type: none;
  font-size: 12px; }
  /* line 56, ../../../app/stylesheets/admin/articles.sass */
  #categories_box ul li {
    line-height: 160%; }

/* line 59, ../../../app/stylesheets/admin/articles.sass */
.versions {
  font-size: 9px; }
  /* line 61, ../../../app/stylesheets/admin/articles.sass */
  .versions table {
    padding: 0;
    width: 100%; }
    /* line 65, ../../../app/stylesheets/admin/articles.sass */
    .versions table .viewing td {
      background-color: #b5d7f9;
      font-weight: bold; }
    /* line 68, ../../../app/stylesheets/admin/articles.sass */
    .versions table .viewing .revisable_number {
      background-color: #b5d7f9 !important; }
    /* line 70, ../../../app/stylesheets/admin/articles.sass */
    .versions table .published td {
      background-color: #ecf2a0; }
  /* line 73, ../../../app/stylesheets/admin/articles.sass */
  .versions dl.legend {
    font-size: 9px;
    width: 76px;
    margin-bottom: 0;
    float: left; }
    /* line 78, ../../../app/stylesheets/admin/articles.sass */
    .versions dl.legend dd, .versions dl.legend dt {
      color: #999 !important;
      float: right; }
    /* line 81, ../../../app/stylesheets/admin/articles.sass */
    .versions dl.legend dt {
      width: 46px; }
    /* line 83, ../../../app/stylesheets/admin/articles.sass */
    .versions dl.legend dd {
      text-indent: -100em;
      overflow: hidden;
      width: 25px;
      margin: 0 5px 0 0; }
    /* line 88, ../../../app/stylesheets/admin/articles.sass */
    .versions dl.legend dd.published {
      background-color: #ecf2a0; }
    /* line 90, ../../../app/stylesheets/admin/articles.sass */
    .versions dl.legend dd.viewing {
      background-color: #b5d7f9; }
  /* line 92, ../../../app/stylesheets/admin/articles.sass */
  .versions .more_history {
    padding-top: 1em;
    float: right; }
