/* line 1, ../../../app/stylesheets/admin/polls.sass */
ul.responses {
  margin-left: 0; }
  /* line 3, ../../../app/stylesheets/admin/polls.sass */
  ul.responses li {
    list-style-type: none; }

/* line 5, ../../../app/stylesheets/admin/polls.sass */
.inside img {
  margin: 0;
  display: inline;
  float: none; }
