%h2{ :style => 'font-size: 32px; text-align: center; padding: 0.5em; font-weight: bold' }
  %strong The Beacon
  Front Page

%p.front_page{ :style => 'text-align: center' }
  = image_tag @front_page_url, :width => 700