%h3.embossed_header Current Promotions
%ul#promotions
  - 4.times do
    %li
      .flyer
        = image_tag 'http://i106.photobucket.com/albums/m276/biglunny/thabloocpartyflyer_sized.jpg?t=1244931364', :height => 200
      %h4 The B.L.O.O.C. Party
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit porttitor nunc vitae porttitor. Integer mi dolor, condimentum non ullamcorper et, volutpat quis dolor. 