/* line 8, ../../../app/stylesheets/elements/forms.sass */
form label {
  float: left;
  width: 110px;
  margin-right: 10px; }
/* line 12, ../../../app/stylesheets/elements/forms.sass */
form input, form textarea {
  width: 400px; }
/* line 14, ../../../app/stylesheets/elements/forms.sass */
form textarea {
  height: 100px;
  width: 390px;
  padding: 5px; }
/* line 18, ../../../app/stylesheets/elements/forms.sass */
form input[type=submit] {
  margin-left: 120px;
  width: auto; }
