<ul class='share'> 
  <li class='delicious'>Delicious</li> 
  <li class='digg'>digg</li> 
  <li class='newsvine'>Newsvine</li> 
  <li class='technorati'>Technorati</li> 
  <li class='stumbleupon'>StumbleUpon</li> 
  <li class='reddit'>Reddit</li> 
  <li class='tweet'>
    <script type="text/javascript">
    tweetmeme_style = 'compact';
    </script>
    <script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
  </li> 
  <li class='email'><%= link_to 'Email' %></li> 
</ul>