%h2 Canvases
%table.widefat
  %thead
    %tr
      %th Name
      %th Actions
  %tbody
    - @canvases.each do |canvas|
      %tr
        %td= canvas.name
        %td= link_to 'Edit', edit_admin_designer_canvas_url(canvas)
  %tfoot
    %tr
      %th Name
      %th Actions