/* line 4, ../../../../app/stylesheets/pages/radio/home.sass */
.content-box h3 {
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }

/* line 10, ../../../../app/stylesheets/pages/radio/home.sass */
#parent-wrapper, #content {
  background-image: url(/images/layout/content_bg_shadow_for_radio.png); }

/* line 13, ../../../../app/stylesheets/pages/radio/home.sass */
#footer {
  border-top: 1px solid #fff; }

/* line 17, ../../../../app/stylesheets/pages/radio/home.sass */
#content #sidebar {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  margin-left: 0; }
  /* line 20, ../../../../app/stylesheets/pages/radio/home.sass */
  #content #sidebar .logo h2 {
    text-indent: -9999em;
    overflow: hidden;
    background-image: url(/images/radio/logo.gif);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 0px 10px 15px;
    width: 200px;
    height: 109px; }
    /* line 25, ../../../../app/stylesheets/pages/radio/home.sass */
    #content #sidebar .logo h2 a {
      width: 100%;
      height: 100%;
      display: block; }
  /* line 29, ../../../../app/stylesheets/pages/radio/home.sass */
  #content #sidebar .navigation ul {
    list-style-type: none;
    margin: 0 0 14px 0; }
    /* line 32, ../../../../app/stylesheets/pages/radio/home.sass */
    #content #sidebar .navigation ul li {
      margin-bottom: 1px; }
      /* line 34, ../../../../app/stylesheets/pages/radio/home.sass */
      #content #sidebar .navigation ul li a {
        color: #fff;
        height: 27px;
        line-height: 27px;
        background: url("/images/radio/navitem_bg.gif");
        display: block;
        padding: 0px 10px;
        font-weight: bold;
        text-decoration: none; }
        /* line 43, ../../../../app/stylesheets/pages/radio/home.sass */
        #content #sidebar .navigation ul li a:hover {
          background: url("/images/radio/navitem_bg_hover.gif"); }
      /* line 46, ../../../../app/stylesheets/pages/radio/home.sass */
      #content #sidebar .navigation ul li.active a {
        background: url("/images/radio/navitem_bg_active.gif");
        color: #000; }
  /* line 49, ../../../../app/stylesheets/pages/radio/home.sass */
  #content #sidebar .ad {
    text-align: center; }
    /* line 51, ../../../../app/stylesheets/pages/radio/home.sass */
    #content #sidebar .ad img {
      border: 1px solid #333; }
/* line 53, ../../../../app/stylesheets/pages/radio/home.sass */
#content #main {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 700px;
  margin-right: 0;
  float: right; }
  /* line 58, ../../../../app/stylesheets/pages/radio/home.sass */
  #content #main .radio-header h3, #content #main .radio-header span {
    background: none; }
  /* line 60, ../../../../app/stylesheets/pages/radio/home.sass */
  #content #main .radio-header h3 {
    text-transform: uppercase;
    padding: 0; }
  /* line 64, ../../../../app/stylesheets/pages/radio/home.sass */
  #content #main .radio-header .whatson .content, #content #main .radio-header .tunein .content {
    position: relative;
    margin: 11px 3px 0px;
    height: 83px; }
  /* line 68, ../../../../app/stylesheets/pages/radio/home.sass */
  #content #main .radio-header .whats-on {
    background: url("/images/radio/whatson_bg.gif") bottom left no-repeat;
    width: 400px;
    height: 108px;
    margin-right: 14px;
    float: left; }
    /* line 75, ../../../../app/stylesheets/pages/radio/home.sass */
    #content #main .radio-header .whats-on .show p img {
      margin: 0; }
    /* line 78, ../../../../app/stylesheets/pages/radio/home.sass */
    #content #main .radio-header .whats-on .show.with-song h4 {
      background: url("/images/radio/SAMPLE_show_name.gif");
      width: 304px;
      height: 27px;
      text-indent: -100em;
      overflow: hidden;
      position: absolute;
      top: 5px;
      left: 86px; }
    /* line 87, ../../../../app/stylesheets/pages/radio/home.sass */
    #content #main .radio-header .whats-on .show.with-song p.dj {
      display: none; }
    /* line 89, ../../../../app/stylesheets/pages/radio/home.sass */
    #content #main .radio-header .whats-on .show.with-song p.avatar {
      position: absolute;
      border: 1px solid #3e3e3e;
      top: 4px;
      left: 4px; }
    /* line 94, ../../../../app/stylesheets/pages/radio/home.sass */
    #content #main .radio-header .whats-on .show.with-song .song {
      color: #fff;
      position: absolute;
      bottom: 7px;
      left: 86px;
      width: 300px;
      height: 36px; }
      /* line 101, ../../../../app/stylesheets/pages/radio/home.sass */
      #content #main .radio-header .whats-on .show.with-song .song .artwork {
        float: left;
        margin-right: 8px; }
      /* line 104, ../../../../app/stylesheets/pages/radio/home.sass */
      #content #main .radio-header .whats-on .show.with-song .song .now-playing {
        display: none; }
      /* line 106, ../../../../app/stylesheets/pages/radio/home.sass */
      #content #main .radio-header .whats-on .show.with-song .song .title, #content #main .radio-header .whats-on .show.with-song .song .artist, #content #main .radio-header .whats-on .show.with-song .song .by {
        line-height: 100%;
        display: block; }
      /* line 109, ../../../../app/stylesheets/pages/radio/home.sass */
      #content #main .radio-header .whats-on .show.with-song .song .title {
        margin-top: 2px;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 3px; }
      /* line 114, ../../../../app/stylesheets/pages/radio/home.sass */
      #content #main .radio-header .whats-on .show.with-song .song .artist, #content #main .radio-header .whats-on .show.with-song .song .by {
        font-weight: bold;
        font-size: 11px; }
      /* line 117, ../../../../app/stylesheets/pages/radio/home.sass */
      #content #main .radio-header .whats-on .show.with-song .song .by {
        margin-right: 2px;
        float: left; }
      /* line 120, ../../../../app/stylesheets/pages/radio/home.sass */
      #content #main .radio-header .whats-on .show.with-song .song .artist {
        text-transform: uppercase; }
  /* line 122, ../../../../app/stylesheets/pages/radio/home.sass */
  #content #main .radio-header .tunein {
    background: url("/images/radio/tunein_bg.gif") bottom left no-repeat;
    padding: 0px 5px;
    width: 272px;
    height: 108px;
    float: left; }
    /* line 129, ../../../../app/stylesheets/pages/radio/home.sass */
    #content #main .radio-header .tunein .content p.choose {
      line-height: 26px;
      height: 26px;
      margin: 0px 8px 1px;
      font-weight: bold;
      font-size: 12px;
      color: #1c1c1c; }
    /* line 136, ../../../../app/stylesheets/pages/radio/home.sass */
    #content #main .radio-header .tunein .content ul {
      list-style-type: none;
      margin: 8px 8px 2px;
      height: 26px; }
      /* line 140, ../../../../app/stylesheets/pages/radio/home.sass */
      #content #main .radio-header .tunein .content ul li {
        margin-right: 15px;
        float: left; }
        /* line 143, ../../../../app/stylesheets/pages/radio/home.sass */
        #content #main .radio-header .tunein .content ul li a {
          background: url("/images/radio/tunein_freqs.gif");
          height: 20px;
          width: 65px;
          display: block;
          text-indent: -100em;
          overflow: hidden; }
        /* line 150, ../../../../app/stylesheets/pages/radio/home.sass */
        #content #main .radio-header .tunein .content ul li.opt1 a {
          width: 53px; }
        /* line 152, ../../../../app/stylesheets/pages/radio/home.sass */
        #content #main .radio-header .tunein .content ul li.opt1 a:hover {
          background-position: -65px 0px; }
        /* line 154, ../../../../app/stylesheets/pages/radio/home.sass */
        #content #main .radio-header .tunein .content ul li.opt2 a {
          background-position: 0px -20px; }
        /* line 156, ../../../../app/stylesheets/pages/radio/home.sass */
        #content #main .radio-header .tunein .content ul li.opt2 a:hover {
          background-position: -65px -20px; }
        /* line 158, ../../../../app/stylesheets/pages/radio/home.sass */
        #content #main .radio-header .tunein .content ul li.opt3 a {
          background-position: 0px -40px; }
        /* line 160, ../../../../app/stylesheets/pages/radio/home.sass */
        #content #main .radio-header .tunein .content ul li.opt3 a:hover {
          background-position: -65px -40px; }
    /* line 162, ../../../../app/stylesheets/pages/radio/home.sass */
    #content #main .radio-header .tunein .content p.freq {
      height: 21px;
      line-height: 20px;
      font-size: 11px;
      text-align: center; }
/* line 167, ../../../../app/stylesheets/pages/radio/home.sass */
#content .radio-content {
  color: #fff;
  margin-top: 1em; }
  /* line 170, ../../../../app/stylesheets/pages/radio/home.sass */
  #content .radio-content a {
    color: #a4cf55; }
  /* line 172, ../../../../app/stylesheets/pages/radio/home.sass */
  #content .radio-content .featured {
    background: url("/images/radio/featured_bg.gif");
    height: 226px;
    padding: 21px;
    margin-bottom: 1em; }
    /* line 177, ../../../../app/stylesheets/pages/radio/home.sass */
    #content .radio-content .featured h2 {
      font-weight: bold;
      font-size: 2em;
      margin-bottom: 0.5em; }
    /* line 181, ../../../../app/stylesheets/pages/radio/home.sass */
    #content .radio-content .featured img {
      float: left;
      margin-right: 1.5em;
      width: 300px;
      height: 225px; }
    /* line 186, ../../../../app/stylesheets/pages/radio/home.sass */
    #content .radio-content .featured .more {
      font-size: 11px; }

/* line 190, ../../../../app/stylesheets/pages/radio/home.sass */
.body-content .schedule-track {
  background: #1c1c1c;
  border: 3px solid #404040;
  padding: 13px;
  overflow: hidden;
  position: relative; }
  /* line 196, ../../../../app/stylesheets/pages/radio/home.sass */
  .body-content .schedule-track a.full-schedule {
    position: absolute;
    top: 12px;
    left: 105px;
    font-size: 0.8em; }
  /* line 201, ../../../../app/stylesheets/pages/radio/home.sass */
  .body-content .schedule-track .cover {
    background: url('/images/radio/todays_schedule_end_gradient.png') top left;
    width: 110px;
    height: 62px;
    position: absolute;
    top: 20px;
    right: 0px;
    z-index: 500; }
  /* line 209, ../../../../app/stylesheets/pages/radio/home.sass */
  .body-content .schedule-track ul {
    list-style-type: none;
    margin: 0;
    width: 120%;
    position: relative; }
  /* line 214, ../../../../app/stylesheets/pages/radio/home.sass */
  .body-content .schedule-track li.current {
    color: #000;
    border: none;
    width: 155px;
    height: 50px;
    margin: 0;
    background: #9dcd53;
    font-size: 1.2em; }
    /* line 222, ../../../../app/stylesheets/pages/radio/home.sass */
    .body-content .schedule-track li.current .time {
      top: 53px; }
    /* line 224, ../../../../app/stylesheets/pages/radio/home.sass */
    .body-content .schedule-track li.current a {
      color: #000  !important; }
  /* line 226, ../../../../app/stylesheets/pages/radio/home.sass */
  .body-content .schedule-track li {
    display: table;
    line-height: 1.15em;
    border: 1px solid #464646;
    border-right: none;
    width: 137px;
    height: 42px;
    float: left;
    text-align: center;
    margin: 3px 0px;
    position: relative; }
    /* line 237, ../../../../app/stylesheets/pages/radio/home.sass */
    .body-content .schedule-track li .title {
      color: #fff !important;
      font-weight: bold;
      height: 42px; }
      /* line 241, ../../../../app/stylesheets/pages/radio/home.sass */
      .body-content .schedule-track li .title.long {
        font-size: 0.75em; }
    /* line 243, ../../../../app/stylesheets/pages/radio/home.sass */
    .body-content .schedule-track li .time {
      font-size: 0.75em;
      width: 137px;
      color: #888;
      top: 0px;
      margin: 0;
      margin-top: -13px;
      line-height: 100%;
      position: absolute; }

/* line 253, ../../../../app/stylesheets/pages/radio/home.sass */
.embossed_header {
  border-top: 1px solid #0f0f0f;
  border-left: 1px solid #0f0f0f;
  border-bottom: 1px solid #222;
  border-right: 1px solid #222;
  text-shadow: 0 1px 0 #a0e85a;
  color: #050505;
  background: #87c64d url('/images/radio/show_header_bg.gif');
  font-size: 1em;
  padding: 7px 13px;
  text-transform: uppercase;
  font-weight: bold; }
