/* line 1, ../../../../app/stylesheets/pages/radio/promotions.sass */
#promotions {
  list-style-type: none;
  margin: 0;
  padding: 5px 15px; }
  /* line 5, ../../../../app/stylesheets/pages/radio/promotions.sass */
  #promotions h4 {
    color: #ddd;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1.5em; }
  /* line 10, ../../../../app/stylesheets/pages/radio/promotions.sass */
  #promotions li {
    float: left;
    width: 300px;
    margin-right: 25px;
    margin-bottom: 20px; }
    /* line 15, ../../../../app/stylesheets/pages/radio/promotions.sass */
    #promotions li .flyer {
      float: left;
      width: 150px; }
